.root {
    -fx-font-family: "Segoe UI", sans-serif;
}

.nav-button {
    -fx-background-color: #d9f2d9;
    -fx-border-width: 0 0 0 0;
    -fx-font-size: 14px;
    -fx-background-radius: 10px;
    -fx-max-width: 100000;
    -fx-padding: 0;
}
.nav-button-small {
    -fx-background-color: #d9f2d9;
    -fx-background-radius: 5px;
    -fx-max-height: 30px;
    -fx-max-width: 30px;
    -fx-min-width: 30px;
    -fx-min-height: 30px;
}
.nav-button:hover, .nav-button-small:hover {
    -fx-background-color: #c0e7c0;
}
.icon-wrapper {
    -fx-padding: 10;
}
.icon-wrapper.active {
    -fx-background-color: rgba(50, 50, 50, 0.2);
    -fx-background-radius: 10px;
}

.navBar {
    -fx-background-color: #d4edc9;
}

.page {
    -fx-padding: 20px;
}

.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.nameLabel {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-text-alignment: center;
}

.btn {
    -fx-background-color: transparent;
}
.btn:hover {
    -fx-background-color: rgba(217, 242, 217, 1);
    -fx-cursor: hand;
}

.h1 {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.peerView:hover {
    -fx-background-color: rgba(217, 242, 217, 1);
    -fx-cursor: hand;
}
.toast {
    -fx-padding: 20px;
    -fx-font-size: 14px;
    -fx-background-radius: 10;
    -fx-text-alignment: center;
}
.success {
    -fx-background-color: #7db87d;
    -fx-text-fill: white;
}
.warning {
    -fx-background-color: #EEBE63;
    -fx-text-fill: #5c5c5c;
}
.error {
    -fx-background-color: #E96864;
    -fx-text-fill: #fff;
}
.info {
    -fx-background-color: #E7F1E7;
    -fx-text-fill: #000;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.list-cell:hover {
    -fx-background-color: #e0e0e0;
}

.list-cell:selected {
    -fx-background-color: #c0c0ff;
}

.wrongInput {
    -fx-background-color: #E96864;
}

.logo {
    -fx-font-weight: bold;
    -fx-font-size: 30px;
    -fx-font-family: "Noto Naskh Arabic", "Arial";
}

.profilePicture {
    -fx-padding: 2;
    -fx-border-width: 2;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.profilePicture:hover {
    -fx-border-color: #444;
}

.selected {
    -fx-border-color: #b58f2e !important;
}

.hiddenTextfield {
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-border-color: transparent;
}
.hiddenTextfield:hover{
    -fx-background-color: rgba(50, 50, 50, 0.2);
}

.profile-picture-container {
    -fx-padding: 5;
    -fx-border-width: 2;
    -fx-border-radius: 1000;
    -fx-border-color: transparent;
}
.profile-picture-container:hover {
    -fx-border-color: #b58f2e !important;
    -fx-cursor: hand;
}